.ModalCard {
  display: flex;
  /* position: relative; */
  /* left: 50%;
  transform: translate(-50%,0); */
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 15px;

  /* @media screen and (max-width: 960px) {
    width: 300vw;
    align-items: left;
    tranform : transition 0.5s */


  }

.CardContainer {
  text-align: center;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;

}

.cardview {
  width: 100%;
  height: 100%;
  /* display: table; */
  display:flex;
  float: left;
  justify-content: space-around;
}




.Card {
  position: relative;
  /* vertical-align: center; */

  width: 30%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
  border: 2px solid white;
  /* justify-content: space-around; */
  display: flex;
  
  
}


.Card:hover {
  transform: rotateY(180deg);
  transition: filter 4s ease-in-out;
}

.fr {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  backface-visibility: hidden;
  background: rgb(1, 1, 1);
  color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 7px 7px 2px 1px rgba(125,125,125,0.7);
  
  /* @media screen and (max-width: 720px) {
    width: 100%;
    background-color: tomato;
    height: 100%;
    transform: translate(200%,0); */
/* } */
}

.bc {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  backface-visibility: hidden;
  background: rgb(182, 181, 181);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);

  /* @media (max-width: 960px) {
    width: 100%;
    background-color: brown;
    height: 100%;
    transform: translate(200%,0);
} */
}

.Btn {
  visibility: hidden;
  padding: 0;
  margin: 0;
}




@media screen and (max-width: 960px){
  .ModalCard {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    align-items: center;


  }
  
  .Btn {
    visibility: visible;
  }
  .CardContainer {
    width: 80%;
    height: 100%;
    transform: reset;
    top: 0;
    left: 0;
    overflow: hidden;

  }
  
  .cardview {
    width: 300%;
    height: 100%;
    display: flex;
    float: left;
  }
  
  .Card {
    margin: 0 10px;
    width: 100%;
    height: 90%;
    background-color: #00e;
  }
  
  
}